* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #263238;
}

section {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .create-container {
  width: 80%;
}

section .create-container .create-input {
  padding: 12px 5px;
  font-size: 18px;
  width: 80%;
  border-radius: 3px;
  border: 1px solid grey;
  outline: none;
}

section .create-container .create-button {
  padding: 12px 5px;
  background-color: #CE93D8;
  border: 1px solid #CE93D8;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

section .create-container .create-button:hover {
  background-color: #b45cc4;
}

section .create-container .create-button:active {
  -webkit-box-shadow: 2px 2px 5px 3px #FCE4EC;
          box-shadow: 2px 2px 5px 3px #FCE4EC;
}

section .todo-container {
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

section .todo-container .todo-item {
  border: 1px solid gray;
  border-radius: 3px;
  width: 24%;
  padding: 10px 15px;
  background-color: #c8e6c9;
  margin-bottom: 20px;
}

section .todo-container .todo-item.done {
  background: #e0e0e0;
  text-decoration: line-through;
  color: #757575;
}

section .todo-container .todo-item.done h4, section .todo-container .todo-item.done p, section .todo-container .todo-item.done span {
  color: #757575;
}

section .todo-container .todo-item.done img {
  opacity: 0.5;
}

section .todo-container .todo-item.marked {
  background: #ffe082;
  border: 2px solid #fad66a;
}

section .todo-container .todo-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 35px;
}

section .todo-container .todo-item__header h4 {
  font-size: 18px;
  font-family: sans-serif;
}

section .todo-container .todo-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .todo-container .todo-item__footer .action-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .todo-container .todo-item__footer .action-buttons [alt="mark"] {
  width: 25px;
  height: 25px;
  margin: 0 5px;
  cursor: pointer;
}

section .todo-container .todo-item__footer .action-buttons [alt="done"] {
  width: 25px;
  height: 25px;
  margin: 0 5px;
  cursor: pointer;
}

section .todo-container .todo-item__footer p {
  font-size: 15px;
  font-family: sans-serif;
}
/*# sourceMappingURL=style.css.map */