<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books</title>
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

<style>
  .favorite {
    border: 2px solid yellow
  }
</style>
</head>
<body>
  <div class="container pt-2">
    <div class="row mt-2 py-3 border-bottom">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <form action="{% url 'add-book' %}" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="title" class="form-label">Book title</label>
            <input type="text" name="title" class="form-control" id="title" aria-describedby="book_title">
          </div>
          <div class="mb-3">
            <label for="subtitle" class="form-label">Book subtitle</label>
            <input type="text" name="subtitle" class="form-control" id="subtitle" aria-describedby="book_subtitle">
          </div>
          <div class="mb-3">
            <label for="genre" class="form-label">Book genre</label>
            <input type="text" name="genre" class="form-control" id="genre" aria-describedby="book_genre">
          </div>
          <div class="mb-3">
            <label for="author" class="form-label">Book author</label>
            <input type="text" name="author" class="form-control" id="author" aria-describedby="book_author">
          </div>
          <div class="mb-3">
            <label for="date" class="form-label">Book published date</label>
            <input type="date" name="date" class="form-control" id="date" aria-describedby="book_published_date">
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Book price</label>
            <input type="number" name="price" class="form-control" id="date" aria-describedby="book_published_date">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Book description</label>
            <textarea class="form-control" name="description" id="description" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col-lg-3 col-md-2 d-sm-none"></div>
    </div>
    <div class="row py-2 text-center">
      <h5>Books list</h5>
    </div>
    <div class="row my-2 py-3">
      {% for book in books %}
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card {% if book.is_favorite %}favorite{% endif %}">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'book-detail' book.id %}">{{ book.title }}</a></h5>
            <h6 class="card-subtitle mb-2 text-muted">Author: {{ book.author }}</h6>
            <p class="card-text">Genre: {{ book.genre }}</p>
            <a href="{% url 'make-book-favorite' book.id %}" class="card-link btn btn-success">{% if book.is_favorite == False %}Add to favos {% else %}Unfavorite {% endif %}</a>
            <a href="{% url 'delete-book' book.id %}" class="card-link btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>