{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo App</title>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/checkbox.css' %}">
</head>
<body>
  <section>
    <!-- begin:Create todo input -->
    <div class="create-container">
      <form action="{% url 'add-todo' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Напишите сюда новую задачу" class="create-input">
        <button type="submit" class="create-button">Добавить</button>
      </form>
    </div>
    <!-- end:Create todo input -->

    <!-- begin:Todo list -->
    <div class="todo-container">
    {% for todo in todos %}
      <div class="todo-item">
        <div class="todo-item__header">
          <label class="checkbox_container">
            <input type="checkbox" />
            <span class="checkmark"></span>
          </label>
          <h4>{{ todo.title }}</h4>
        </div>

        <div class="todo-item__footer">
          <p>{{ todo.created_at }}</p>
          <div class="action-buttons">
            <div alt="mark"></div>
            <div alt="done"></div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
    <!-- end:Todo list -->
  </section>
</body>
</html>