{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo App</title>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/checkbox.css' %}">
</head>
<body>
  <section>
    <!-- begin:Create todo input -->
    <div class="create-container">
      <form action="{% url 'add-todo' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Напишите сюда новую задачу" class="create-input">
        <button type="submit" class="create-button">Добавить</button>
      </form>
    </div>
    <!-- end:Create todo input -->

    <!-- begin:Todo list -->
    <div class="todo-container">
    {% for todo in todos %}
      <div class="todo-item {% if todo.is_favorite %}marked{% elif todo.is_done %}done{% endif %}">
        <div class="todo-item__header">
          <form action="{% url 'make-done' todo.id %}" method="POST">
            <label class="checkbox_container">
              {% csrf_token %}
              <input name="done" type="checkbox" {% if todo.is_done %}checked{% endif %} />
              <button type="submit" class="checkmark"></button>
            </label>
          </form>
          <h4>{{ todo.title }}</h4>
        </div>

        <div class="todo-item__footer">
          <p>{{ todo.created_at }}</p>
          <div class="action-buttons">
            <a href="{% url 'mark-todo' todo.id %}">
              <div {% if todo.is_favorite %}class="marked"{% endif %} alt="mark"></div>
            </a>
            <a href="{% url 'delete-todo' todo.id %}">
              <div alt="done"></div>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
    <!-- end:Todo list -->
  </section>
</body>
</html>